# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

#json
.vscode/settings.json


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
TemperatureProfile.png
Velocity.png
Condensationrateprofile.png
Icevolumefractionprofile.png
Temperaturegradient.png
Intervalsofirregulargrid.png
Icevolumefractionprofile_nonisothermal.png
Plots/Fig10/Fig10.png
Plots/Fig10/Fig10.py
Plots/Fig10/figure_2column.py
Plots/Fig10/Fig10_Data/all_coord_v
Plots/Fig10/Fig10_Data/all_coord_vTc
Plots/Fig10/Fig10_Data/all_phi_v
Plots/Fig10/Fig10_Data/all_phi_vTc
Plots/Fig11/Fig11.png
Plots/Fig11/Fig11.py
Plots/Fig11/figure_1column.py
Plots/Fig11/Fig11_Data/all_c_Tc
Plots/Fig11/Fig11_Data/all_c_vTc
Plots/Fig11/Fig11_Data/all_coord_Tc
Plots/Fig11/Fig11_Data/all_coord_vTc
Plots/Fig12/Fig12_300dpi.png
Plots/Fig12/Fig12.png
Plots/Fig12/Fig12.py
Plots/Fig12/figsize_2c2r.py
Plots/Fig12/Fig12_Data/all_coord_crocus
Plots/Fig12/Fig12_Data/all_coord_sim
Plots/Fig12/Fig12_Data/all_phi_crocus
Plots/Fig12/Fig12_Data/all_phi_sim
Plots/Fig12/Fig12_Data/all_t_passed_crocus
Plots/Fig12/Fig12_Data/all_t_passed_sim
Plots/Fig12/Fig12_Data/all_v_crocus
Plots/Fig12/Fig12_Data/all_v_sim
Plots/Fig13/Fig13.png
Plots/Fig13/Fig13.py
Plots/Fig13/figure_2column.py
Plots/Fig13/Fig13_Data/all_coord
Plots/Fig13/Fig13_Data/all_phi
Plots/Fig13/Fig13_Data/all_t_passed
Plots/Fig13/Fig13_Data/all_v
Plots/Fig5/Fig5_300dpi.png
Plots/Fig5/Fig5.png
Plots/Fig5/Fig5.py
Plots/Fig5/figure_2column.py
Plots/Fig5/Fig5_Data/all_coord
Plots/Fig5/Fig5_Data/all_phi
Plots/Fig5/Fig5_Data/all_t_passed
Plots/Fig5/Fig5_Data/all_v
Plots/Fig6/Fig6_300dpi.png
Plots/Fig6/Fig6.png
Plots/Fig6/Fig6.py
Plots/Fig6/figsize_2c2r.py
Plots/Fig6/Fig6_Data/T_coord
Plots/Fig6/Fig6_Data/T_T
Plots/Fig6/Fig6_Data/T_time
Plots/Fig6/Fig6_Data/Tv_coord
Plots/Fig6/Fig6_Data/Tv_T
Plots/Fig6/Fig6_Data/Tv_time
Plots/Fig7/Fig7_300dpi.png
Plots/Fig7/Fig7.png
Plots/Fig7/Fig7.py
Plots/Fig7/figure_1column.py
Plots/Fig7/figure_2column.py
Plots/Fig7/Fig7_Data/eta_constant_all_c
Plots/Fig7/Fig7_Data/eta_constant_all_coord
Plots/Fig7/Fig7_Data/eta_constant_all_t_passed
Plots/Fig7/Fig7_Data/eta_none_all_c
Plots/Fig7/Fig7_Data/eta_none_all_coord
Plots/Fig7/Fig7_Data/Fig7.png
Plots/Fig8/Fig8_300dpi.png
Plots/Fig8/Fig8.png
Plots/Fig8/Fig8.py
Plots/Fig8/figure_2column.py
Plots/Fig8/Fig8_Data/all_coord_v
Plots/Fig8/Fig8_Data/all_coord_vTc
Plots/Fig8/Fig8_Data/all_phi_v
Plots/Fig8/Fig8_Data/all_phi_vTc
Plots/Fig8/Fig8_Data/nz=101/all_coord_v
Plots/Fig8/Fig8_Data/nz=101/all_coord_vTc
Plots/Fig8/Fig8_Data/nz=101/all_phi_v
Plots/Fig8/Fig8_Data/nz=101/all_phi_vTc
Plots/Fig9/Fig9_300dpi.png
Plots/Fig9/Fig9.png
Plots/Fig9/Fig9.py
Plots/Fig9/figure_2column.py
Plots/Fig9/Fig9_Data/all_coord
Plots/Fig9/Fig9_Data/all_phi
Plots/Fig9/Fig9_Data/all_T
Plots/Fig9/Fig9_Data/all_t_passed
Plots/Fig9/Fig9_Data/all_v